/* Universal Settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container for Entire Body of Elements */
.entire-body-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

/* Header Styling */
header {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(52, 120, 237), rgb(17, 30, 104));
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: row;
}

.main-weather-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

/* Search Container */
.search-container-parent {
    margin-right: 1rem;
    margin-left: 1rem;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search-header {
    font-size: large;
    font-weight: bolder;
    font-style: normal;
    display: flex;
    justify-content: center;
}

#search-bar {
    border-radius: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 15px;
    margin-top: 0.5em;
    cursor: pointer;
    background-color: rgb(52, 120, 237);
    color: white;
}

.past-search-storage {
    border-top: solid 1px black;
    margin-top: 2rem;
}

.past-search-item {
    background-color: rgb(172, 170, 170);
    border-radius: 5px;
    margin: 5px;
    list-style: none;
}

/* Weather container */
.featured-weather {
    display: flex;
    border: solid 1px black;
    flex-direction: column;
}

.five-day-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 100%;
    gap: 1rem;
}

/* 5-Day Forecast Cards */
.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
    border: solid 2px black;
    background-color: rgb(53, 55, 69);
    color: white;
}

.five-day-header {
    padding: 5px;
}

.uv-index-value {
    background-color: rgb(20, 121, 20);
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

#uv-index-value {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

#description,
#wind,
#humidity,
#uv-index,
#temp,
#uv-index-value {
    text-transform: capitalize;
    margin: 0.5rem;
}

#city {
    font-weight: bolder;
    font-variant: small-caps;
}

#temp {
    font-size: x-large;
}

.weather.loading {
    visibility: hidden;
}

li {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-right:10px;
}

.list-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-group-item {
    background-color: rgb(53, 55, 69);
}

.card-header {
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: flex-start;
}


@media screen and (max-width: 769px) {
    .five-day-container { 
        display: inline-block;
        flex-direction: column;
        gap: 1rem;
    } 
    .past-search-storage {
        display: none;
    }
    .main-container,
    .entire-body-container {
        display: flex;
        flex-direction: column;
    }
    button {
        margin-bottom: 1rem;
    }
};

@media screen and (max-width: 900px) {
    .five-day-container { 
        display: inline-block;
        flex-direction: column;
        gap: 1rem;
    } 
    .past-search-storage {
        display: none;
    }
    .main-container,
    .entire-body-container {
        display: flex;
        flex-direction: column;
    }
    button {
        margin-bottom: 1rem;
    }
};